/* Center grid container */

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    height: 10px;
    width: 10px;
    flex: 0 0 auto;
    background-color: white;
}

.gridcontainer {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: white;
}

.griditem {
    background-color: white;
}

.hover {
    background-color: grey;
}