/* Center grid container */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

.cell {
    height: 10px;
    width: 10px;
    flex: 0 0 auto;
    background-color: white;
}

.gridcontainer {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: white;
}

.griditem {
    background-color: white;
}

.hover {
    border: solid 1px grey;
}

.painted {
    background-color: black;
}


/* Gridsize Slider */
.slidecontainer {
    width: 40%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px; 
    background: lightgray;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: lightcoral;
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer; /* Cursor on hover */
}